footer{
    background-image: var(--gradiente);
    padding: 5em 1em;
    color: var(--branco);
    flex-direction: column;
    gap: 2em;
}
footer h2, footer, p{
    margin: 0;
}
footer h2{
    border: 1px solid var(--branco);
    width: 12em;
    text-align: center;
    padding: 0.5em;
    border-radius: 10px;
}
footer a{
    gap: 0.5em;
    color: var(--branco);
}
footer a img{
    width: 1.5em;
}