header{
    position: relative;
}
header nav{
    background-color: transparent;
    padding: 0.5em;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    animation: aparecer 0.5s ease-out forwards;
}
header nav h1{
    font-size: 1.5rem;
    margin: 0;
    color: var(--branco);
    margin-right: auto;
}
header nav a{
    gap: 0.5em;
    color: var(--branco);
    font-size: 1rem;
}
header nav a img{
    width: 1em;
}
header .imgPrincipal{
    width: 100%;
    height: 25em;
}
header .logo{
    width: 1.5em;
    margin-right: 0.5em;
}
header ul{
    padding: 0;
    gap: 2em;
}
header .linkPrincipal{
    padding: 0.5em 1em;
    border: 1.9px solid var(--azul);
    border-radius: 5px;
    transition: 1s;
}
header .linkPrincipal:hover{
    background-color: var(--azul);
    transition: 1s;
}
header .rolarTxt{
    width: 100%; 
    overflow: hidden; 
    white-space: nowrap; 
    padding: 10px 0;
    position: absolute;
    bottom: 1em;
    color: var(--branco);
}
header .rolarTxt p{
    display: inline-block; 
    padding-left: 100%; 
    animation: rolarTxt 28s linear infinite; 
}

@media screen and (max-width: 724px){

    header ul{
        gap: 1em;
    }
    header .linkPrincipal{
        border: none;
    }
    header .linkPrincipal span{
        display: none
    };

}